[submodule "thirdparty/Vulkan-Headers"]
	path = thirdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "thirdparty/Vulkan-Loader"]
	path = thirdparty/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
